# Setup

In [1]:
import boto3

import columns
import constants
from utils.io.s3 import download_dataframe, list_objects

In [2]:
s3_session = boto3.session.Session()
s3_client = s3_session.client(service_name='s3', endpoint_url='https://storage.yandexcloud.net')

In [3]:
dataset_df = download_dataframe(s3_client, constants.S3_BUCKET, constants.DATA_PATH / 'train.parquet')

# Browse data

In [4]:
dataset_df.head()

     uid  friend_uid
0  93464      114312
1  93464      103690
2  93464      108045
3  93464      116128
4  93464       94113

# Show recs

In [6]:
pipeline_id = 'random'

In [7]:
list_objects(s3_client, constants.S3_BUCKET, constants.SUBMISSION_PATH / pipeline_id)

['hardml/recsys/lesson7/submissions/random/20240323T084044.parquet',
 'hardml/recsys/lesson7/submissions/random/20240323T084634.parquet']

In [8]:
submission_df = download_dataframe(
    s3_client,
    constants.S3_BUCKET,
    constants.SUBMISSION_PATH / pipeline_id / '20240323T084634.parquet'
)
submission_df.head(20)

    user_id                                             y_recs
0     93464  [970, 37113, 3824, 81265, 57483, 90485, 115430...
1     47920  [85285, 18046, 65153, 59009, 6078, 105923, 462...
2     65296  [37196, 87766, 6087, 63380, 60169, 49929, 4912...
3     55120  [108104, 28934, 56648, 115118, 53844, 105602, ...
4     20360  [22694, 72573, 85885, 110471, 97370, 93543, 70...
5     48992  [39157, 114685, 48896, 19601, 22013, 44768, 80...
6     12552  [20267, 99861, 62400, 21906, 45115, 84767, 619...
7      5896  [58692, 15469, 103352, 49907, 51742, 10415, 90...
8     70824  [9897, 116547, 84520, 62548, 100729, 27590, 32...
9     79128  [114030, 39478, 74681, 104066, 42845, 117671, ...
10     2752  [97239, 1679, 9199, 24666, 80330, 85607, 405, ...
11    50008  [32094, 71244, 116037, 31517, 60729, 36341, 76...
12    59592  [4229, 71676, 42839, 11250, 29186, 73732, 7990...
13   101480  [109156, 42311, 3138, 48657, 48989, 42173, 641...
14   106800  [19328, 86579, 5862, 4725, 13058, 67136, 92639...
15    55800  [46730, 107100, 97966, 72329, 107858, 50181, 9...
16    22712  [71053, 97632, 11181, 77566, 78031, 36767, 251...
17    42816  [64903, 10854, 13196, 52893, 52532, 85404, 428...
18    78840  [20268, 24834, 73966, 794, 8797, 10588, 39469,...
19    33456  [22117, 50420, 99877, 30857, 105765, 94271, 33...